---
title: SSG About Page !
layout: base.njk
---

<div class="container">
    <h1>About Page</h1>
    <p>
        This is a about page that I made using the elventy static site generator
    </p>
</div>