---
title: SSG starting!
layout: base.njk
---

<div class="container">
    <h1>This is the start</h1>
    <ul>
        <li>First element</li>
        <li>Second element</li>
    </ul>
    <p>
        This is a beautiful message :
        <p class='msg'></p>
    </p>
</div>