---
title: SSG starting!
layout: base.njk
---

<div class="container">
    <h1>This is the start</h1>
    <ul>
        {% for article in news.articles %}
            <li>
                <h4>{{article.title.slice(0,35)}}...</h4>
            </li>
        {% endfor %}
    </ul>
    <p>
        This is a beautiful message :
        <p class='msg'></p>
    </p>
</div>